// Here you can add other styles
// .c-sidebar.c-sidebar-dark {
//     color: #3c4b64;
//     background: #fff;
//     border-right: 1px solid rgba(159, 167, 179, 0.5);
// }

@font-face {
  font-family: "LatoBlack";
  src: local("LatoBlack"),
    url(../assets/fonts/Lato/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: local("LatoBold"),
    url(../assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "LatoRegular";
  src: local("LatoRegular"),
    url(../assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
}

body {
  font-family: LatoRegular, serif !important;
  background-color: white !important;
}

.text-lightblue {
  color: #7f74fd;
}
.text-loginblue {
  color: #5b4dfd !important;
}
.btn-primary {
  color: #fff;
  background-color: #5b4dfd !important;
  border-color: #5b4dfd !important;

  box-shadow: 0 2px 15px 0 rgba(91, 77, 253, 0.46);
}

.boxshadow-contain {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
  border-radius: 0 !important;
}

.c-sidebar.c-sidebar-light {
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3) !important;
  border-right: none !important;
}
.text-black-light {
  color: #858181;
}
.logo-image-panel {
  background-image: url("../assets/images/clearHealthLogo.png");
  height: 40px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.c-sidebar.c-sidebar-light .c-sidebar-brand {
  color: #fff;
  background: transparent !important;
  padding-top: 1px;
}
.min-height-99 {
  min-height: 86vh;
}
.h-97 {
  height: 95vh;
}
.card {
  margin-bottom: 0.5rem !important;
}
.box-shadow-bottom {
  box-shadow: 1px 10px 19px -16px rgba(188, 186, 186, 0.67);
  -webkit-box-shadow: 1px 10px 19px -16px rgba(188, 186, 186, 0.67);
  -moz-box-shadow: 1px 10px 19px -16px rgba(188, 186, 186, 0.67);
}
// .c-sidebar.c-sidebar-light .c-sidebar-brand {
//   // border-bottom: 1px solid #dcdfe3;
//   padding-top: 1px;
// }

.text-icon-footer {
  font-size: 1.2rem;
  padding-top: 5px;
}
.c-sidebar.c-sidebar-light .c-sidebar-nav-link:hover,
.c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown-toggle:hover {
  color: #fff;
  background: #049bfe;
}
// .c-sidebar-nav-item {

// }
.c-sidebar.c-sidebar-light .c-sidebar-nav-link,
.c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown-toggle {
  color: #7a7e83;
  font-family: LatoRegular, serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 21px;
}

.c-sidebar.c-sidebar-light .c-sidebar-nav-link:hover,
.c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown-toggle:hover {
  background-color: #eeedfe !important;
  color: #5e50fd !important;
  font-weight: bold;

  border-left: 5px solid#5e50fd !important;
}

.c-sidebar.c-sidebar-light .c-sidebar-nav-link.c-active,
.c-sidebar.c-sidebar-light .c-active.c-sidebar-nav-dropdown-toggle {
  background-color: #eeedfe !important;
  color: #5e50fd !important;
  font-weight: bold;

  border-left: 5px solid#5e50fd !important;
}

.c-sidebar.c-sidebar-light .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: #c270fc !important;
}
.c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link,
.c-sidebar.c-sidebar-light
  .c-sidebar-nav-dropdown.c-show
  .c-sidebar-nav-dropdown-toggle {
  color: #7a7e83;
}

.c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown.c-show {
  background: rgb(255 253 253 / 5%) !important;
}
// login/single layout

.bg-brown {
  background-color: brown;
}
.border-login {
  border-right: 1px solid gray;
}
.height-100 {
  height: 100vh;
}
.box-shadow {
  box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
  -moz-box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
}
.form-shadow {
  box-shadow: 2px 4px 2px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 2px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 2px -4px rgba(0, 0, 0, 0.75);
}
.login-contact {
  position: absolute;
  top: 45%;
  font-size: 1.1rem;
}
.bg-login {
  // background-image: url('../assets/images/login-bg.png');

  // background-position: bottom;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-color:white;
  // background: linear-gradient(90deg, #ffffff 50%, #5b4dfd 50%);
  background-color: #ffffff;
  background-image: url("../assets/images/Background.png");
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.form-control {
  height: calc(2.5em + 0.75rem + 2px) !important;
}

.login-blue-bg {
  background-color: #5b4dfd;
}
.login-footer {

  border-top: 2px solid #c3c3c3;
  // padding-top: 5px;
  padding: 1.5rem;
  position: absolute;
  // margin-top: 35%;
  // bottom: 0;
  width: 75%;
  margin: auto;
  margin-top: 10px;
  padding-right: 8px !important;
  // right: 10px;
}

.login-mt {
  margin-top: 8vh;
}

button:focus {
  outline: 0px auto white !important;
}
.email {
  height: 25px;
  width: 25px;
  background-image: url("../assets/images/icons/email_open.svg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: -15px;
}

.phone {
  height: 25px;
  width: 25px;
  background-image: url("../assets/images/icons/call_male.svg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: -30px;
}

.email-sm {
  height: 12.5px;
  width: 12.5px;
  background-image: url("../assets/images/icons/email_open.svg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: -20px;
  margin-top: 5px;
}

.phone-sm {
  height: 12.5px;
  width: 12.5px;
  background-image: url("../assets/images/icons/call_male.svg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: -20px;
  margin-top: 5px;
}

.support-clearhealth {
  height: 19px;
  // width: 180px;
  // border: 1px solid red;
  color: #7a7e83;
  font-family: LatoRegular,serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
}
.pad-20 {
  padding-left: 20px;
}

.first-login-quote {
  height: 48.4px;
  width: 89.88px;
  background-image: url("../assets/images/icons/shape1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.secound-login-quote {
  height: 49px;
  width: 79px;
  background-image: url("../assets/images/icons/shape2-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.health-is-a-state-of {
  // height: 208px;
  // width: 472px;
  color: #ffffff;
  font-family: LatoRegular,serif;
  font-size: 2.5rem;
  letter-spacing: 0.2px;
  line-height: 120%;
  text-align: center;
}

.secound-login-final {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  margin-left: 30px;
  background-image: url("../assets/images/icons/shape2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.world-health-organiz {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 28px;
}

.cover-content {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(135, 135, 135, 0.3);
}
.light-green {
  color: #01cca4;
}

.sidebar-bottom {
  width: 85% !important;
  border-top: 1px solid #c3c3c3 !important;
  margin: auto !important;
  padding: 10px !important;
}

.support-clearhealth-slider {
  color: #7a7e83;
  font-family: LatoRegular,serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
}

.heart-icon {
  height: 40px;
  width: 40px;
  fill: red;

  background-image: url("../assets/images/icons/heart.svg");
  background-size: contain;
}

.font-lato-bold {
  font-family: "LatoBold",serif;
}

.single-layout-max {
  max-width: 1200px;
  margin: auto;
}
.c-body {
  // background-color: #f4f5f7;
  background-color: #ffffffc2;
  // background-color: #eae4e454;
}
.cursor-point {
  cursor: pointer;
}
.sub-title{
  font-size: 0.9rem;
}

.list-cat-pricing{
 
  height: 43px;
  width: 143px;
  text-align: center;
  margin-right: 20px;
  line-height: 2.5rem;
  border-radius: 25px;
  background-color: #EEEEEE;
  color: #616161;
  font-family: LatoRegular, serif !important;
  font-size: 16px;
  cursor: pointer;

  

}

.list-cat-pricing.active{
  background-color: #5b4dfd;
  color: white;

}

// .checkbox > input:checked + span::before {
//   content: '\2713';
//   display: block;

//   text-align: center;
//   color: #41B883;
//   position: absolute;
//   left: 0.7rem;
//   top: 0.2rem;
// }

.checkbox > input {
  // height: 25px;
  // width: 25px;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // -o-appearance: none;
  // appearance: none;
  // border: 1px solid #34495E;
  // border-radius: 4px;
  // outline: none;
  // transition-duration: 0.3s;
  background-color: #41b883;
  cursor: pointer;
}

.h-90vh {
  height: 85%;
}
.h-10vh {
  height: 15%;
}
label,
.label {
  color: #7a7e83;
}
.log-foot-phone {
  text-align: right;
}

.sm-logo-setting {
  height: 75px;
  margin: auto;
}
.sm-logo-setting-layout {
  height: 75px;
  margin-left: 10px !important;
  // margin: auto;
}

.c-header-brand {
  width: 75%;
}

.form-control-sm {
  display: block;
  width: 100%;
  height: calc(1.4em + 1rem + 1px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid;
  color: #768192;
  background-color: #fff;
  border-color: #d8dbe0;
  border-radius: 0.45rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.component-header {
  color: #222831;
  font-family: LatoRegular,serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 30px;
}

.LatoBlack {
  font-family: LatoBlack,serif !important;
}
.LatoRegular {
  font-family: LatoRegular  ,serif!important;
}

.table .thead-dark th {
  font-family: LatoRegular,serif !important;
  color: #909294 !important;
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
.table .thead-dark th:first-child {
  padding-left: 2.2rem !important;
}
.rectangle-intable {
  box-sizing: border-box;
  // height: 30px;
  padding: 4px;
  padding-right: 7px;
  width: fit-content;
  //  min-width: 138px;
  //  max-width: 250px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  color: #4e535a;
  font-size: 1rem;
  margin-bottom: 3px;
  // background-color: #FFFFFF;
}
.text-health-icon {
  color: #7c70fd;
}

.max-celladdress {
  width: 250;
}

.count-box {
  font-size: 0.7rem;
  font-family: LatoRegular ,serif !important;
  height: 25px;
  width: 45px;
  text-align: center;
  border-radius: 15px;
  background-color: #5b4dfd;
  color: #e7e4e4;
  padding: 8px !important;
  // color: white;
  line-height: 10px;
  font-weight: 400 !important;
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}

.font-15re {
  font-size: 1.5rem !important;
}

.text-black {
  color: black !important;
}
.text-gray {
  color: #92929d;
}
.table-page-bottom {
  float: right;
  margin-top: -50px !important;
  padding: 10px;
}
.MuiPagination-ul li:first-child button,
.MuiPagination-ul li:last-child button {
  border: 1px solid lightgray;
}
.MuiPaginationItem-textPrimary.Mui-selected {
  color: #7c70fd !important;
  background-color: #ffffff !important;
}
.MuiPaginationItem-root {
  color: #92929d !important;
}

.add-icon-set {
  margin-top: -1px !important;
  color: #fff !important;
  padding-top: 2px;
  padding-right: 3px;
}
.add-icon-set-nocolor {
  margin-top: -1px !important;
 
  padding-top: 2px;
  padding-right: 3px;
}
.search-icon {
  position: absolute;
  top: 12px;
  margin-left: 10px;
  color: #92929d;
}
.search-space {
  padding-left: 30px;
}


.bg-gray-dashboard{
  height: 80px;
  width: 80px;
  border-radius: 30px;
  background-color: rgba(91,77,253,0.1);
  color: #5B4DFD;

}
.main-dashboard-text{
  color: #222831;
  line-height: 10px;

}

.border-radius-dashboard{
  border-radius: 20px;
  height: 240px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem  !important;
  cursor: pointer;
   box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
  -moz-box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);

}

.border-radius-dashboard:hover{
  box-shadow: none;
  border: none !important;
  background-color: rgba(229, 225, 252, 0.911) !important;
}
.blue-ico{
  fill:"#5B4DFD"  !important;
  color:"#5B4DFD"  !important;
}
.CUnavi{
  width: 50px;
  height: 50px;
    margin: auto;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    border-radius: 5px;
}
.CNradius{
  border-radius: 15px;
  color:#929292 !important;
background-color:rgba(194,194,194,0.1);
}

a.active>.CNradius{
  border-radius: 15px;
  color:#5B4DFD !important;

background-color: rgba(91,77,253,0.1);

}


.CNradius:hover{
  color:#5B4DFD !important;
  background-color:rgba(91,77,253,0.1);

}

.c-sidebar.c-sidebar-fixed {
  position: fixed;
  top: 75px;
  bottom: 0;
  z-index: 1030;
}

.c-sidebar {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 256px;
  flex: 0 0 256px;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-order: -1;
  order: -1;
  width: 100px !important;
  padding: 0;
  box-shadow: none;
}
.CNavi-left{
  margin-left: 100px;

}

// .tableCover{
// overflow-x: scroll;
// width: 100%;
// }

.table.table-hover tbody{
  border-bottom: 1px solid #cee0ff5c !important;

}
.btn-view-account{
  border-radius: 10px;
  background-color: #06C4AB;
  border-color:#06C4AB; 
  color: #FAFAFB;
  box-shadow: 0 2px 15px 0 rgba(6,196,171,0.37);
}
.btn-view-account:hover{
  box-shadow:none;
  color: white;
  
}
.nav-item a{
  color:#383a3d6b
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #5b4dfd;
    background-color:white;
    border-color:white;
    border-bottom: 4px solid #5b4dfd;
    margin-top: -1px;
}
// .nav-tabs .nav-item {
//   border-right: 1px solid #928e8e38;
//   border-top: 1px solid #928e8e38;
//   border-radius: 5px;
// }
// .nav-tabs .nav-item:first-child {
//   border-left: 1px solid #928e8e38;

// }
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  border-color: white;
  border-bottom: 4px solid #5b4dfd;
}

.dropdown-toggle::after{
  display: none;
}
.hospital-heading{
  color: #222831;
  padding: 20px;

}
.cursor-pointer{
  cursor: pointer;
}

.main-menu-card:hover{
  box-shadow: none !important;

}
.border-none{
  border: none !important;

}
.img-full{
  width: 100%;
}

.dropdown-menu{
  min-width: 7rem !important;
}
.btn:focus, .btn.focus{
  box-shadow: none;
}
.max-health-name{
  max-width: 20rem;
}
@media (max-width: 768px) {
  .bg-login {
    background-color: #ffffff;
    background-image: none;
    // background-size: 50% 100%;
    // background-position: right;
    // background-repeat: no-repeat;
  }

  .log-foot-phone {
    text-align: left;
    margin-top: 5px;
  }


  .tableCover{
    overflow-x: scroll;
    width: 100%;
    }


    html:not([dir=rtl]) .c-sidebar:not(.c-sidebar-right) {
      margin-left: 1px;
      // top: 130px;

  }

  .CNavi-left {
    margin:auto !important;
}
.sm-logo-setting-layout{
  margin: auto !important;
  margin-left: auto !important;
}

.c-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1;
  flex: 1 1;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: fit-content !important;
  min-height: 100vh;
}
}

.min-150{
  width: 150px;
}
.hd-subtitle{

  color: #000000;
  font-family: "LatoBold",serif;
  font-size: 20px;
 
  letter-spacing: 0;
  line-height: 24px;
}

.hd-boxcover{
  box-sizing: border-box;
  
  border: 1px solid #E8E8E8 !important;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgba(135,135,135,0.07);

}
.list-dashboard-li{
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(224, 221, 221);
}

.list-right-res{
  min-width: 70px;
  border-radius: 10.5px;
  background-color: #E5E4E4;
  font-size: 0.6rem;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.MuiInput-underline:before{
  border:none !important;
}
.MuiInputBase-root{
  border:1px solid rgb(201, 199, 199); 
  padding-left: 10px;
  border-radius: 5px;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]{
  padding: 0px !important;

}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]{
  border: none;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input {
  // font-size: 14px;
   font-family: LatoRegular, serif !important;
   font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    
    color: #768192;

}
.divider{
  border-bottom: 1px solid #e5e5e5;
}
.divder-left{
  border-left:1px solid #e5e5e5; 
}
.procedure-add-title{
text-decoration: underline;
font-weight: bold;
}

.currency-sign{
  width: 30px;
    height: 36px;
    line-height: 2.5em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #3d3a3a;
    background-color: #c9c7c7;
    position: absolute;
}
.currecy-input{
  padding-left: 37px;

}
.currecy-input:focus-visible{
  // border: none !important;
  // background: transparent  !important;
  outline: -webkit-focus-ring-color auto 0px;


}
.min-width-70p{
  min-width: 70px;
}

input.form-control-sm:read-only {
  background-color: rgb(243, 240, 240);
}


.view-Procedure-table{
  font-size: 0.8rem;

}

.font-size-8{
  font-size: 0.8rem;
}
.oneline-th{
  white-space: nowrap;
}
.disable-field{
  pointer-events: none;
  background-color:#eeeaea;

}

.disable{
  pointer-events: none;
  opacity: 0.4;
  background-color:#f3f0f0;
}

.payment-address {
  
  color: #222831;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 24px;
}
.payment-information-about {

  color: #7A7E83;
 
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.pay-summary-name{

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2em;
}
.pay-summary-address{
color: #222831;

font-size: 16px;
font-weight: 500;
letter-spacing: 0;
line-height: 1.2em;
}
// loader animation

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d4c5830;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.wave {
  width: 5px;
  height: 100px;
  // background: linear-gradient(45deg, cyan, #fff);
  background: linear-gradient(
    45deg
    , #2e23db, #8799835e);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


// loader animation end