// Here you can add other styles
// .c-sidebar.c-sidebar-dark {
//     color: #3c4b64;
//     background: #fff;
//     border-right: 1px solid rgba(159, 167, 179, 0.5);
// }
.text-lightblue {
  color: #049bfe;
}

.btn-primary {
  color: #fff;
  background-color: #049bfe !important;
  border-color: #049bfe !important;
}

.boxshadow-contain {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
  border-radius: 0 !important;
}

.c-sidebar.c-sidebar-light {
  border-right: none !important;
}
.text-black-light {
  color: #858181;
}
.logo-image-panel {
  background-image: url("../assets/images/clearHealthLogo.png");
  height: 40px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.c-sidebar.c-sidebar-light .c-sidebar-brand {
  color: #fff;
  background: transparent;
}
.min-height-99 {
  min-height: 86vh;
}
.h-97 {
  height: 95vh;
}
.card {
  margin-bottom: 0.5rem !important;
}
.box-shadow-bottom {
  box-shadow: 1px 10px 19px -16px rgba(188, 186, 186, 0.67);
  -webkit-box-shadow: 1px 10px 19px -16px rgba(188, 186, 186, 0.67);
  -moz-box-shadow: 1px 10px 19px -16px rgba(188, 186, 186, 0.67);
}
.c-sidebar.c-sidebar-light .c-sidebar-brand {
  border-bottom: 1px solid #dcdfe3;
  padding-top: 1px;
}

.text-icon-footer {
  font-size: 1.2rem;
  padding-top: 5px;
}
.c-sidebar.c-sidebar-light .c-sidebar-nav-link:hover, .c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown-toggle:hover {
  color: #fff;
  background: #049bfe;
}


// login/single layout 

.bg-brown {
  background-color: brown;
}
.border-login {
  border-right: 1px solid gray;
}
.height-100 {
  height: 100vh;
}
.box-shadow {
  box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
  -moz-box-shadow: 2px 2px 5px 0px rgba(107, 104, 104, 0.15);
}
.form-shadow {
  box-shadow: 2px 4px 2px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 2px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 2px -4px rgba(0, 0, 0, 0.75);
}
.login-contact {
  position: absolute;
  top: 45%;
  font-size: 1.1rem;
}
.bg-login{
    background-image: url('../assets/images/login-bg.png');
    // url('../assets/images/login-bg.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
}


.form-control {
 
  height: calc(2.5em + 0.75rem + 2px) !important;
  
}